{{#each stadium}}
    <li class="item">
        <h2 class="name">{{name}}</h2>
        <img src="{{image}}" alt="{{name}}" class="image">
        <p class="location">{{location}}</p>
        <p class="capacity">{{capacity}}</p>
        <h3 class="team">{{team}}</h3>
        <p class="opened">{{opened}}</p>
        <p class="isOpen">{{isOpen}}</p>
    </li>
  {{/each}}